<!DOCTYPE html>
<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
  <script src="./javascripts/app.js"></script>
  <link rel="stylesheet" type="text/css" href="./stylesheets/style.css">
  <meta charset="utf-8">
  <title>Fergusonbook</title>
</head>

<body>

  <div id='app' ng-app='app' ng-controller='mainCtrl'>

    <div ng-if='!fergusons.length' class='no-ferguson center stretch'>
      <h1 class='h1'>
        Set up your endpoint at `/fergusons` to get this view working
      </h1>
    </div>
    <h1> Enter your name and image URL!</h1>
    <form id="newFerguson" ng-submit="addFerguson()">
      Name: <input type="text" ng-model="Name" value=""><br> Url: <input type="url" ng-model="Url" value=""><br>
      <input type="submit" value="Submit">
    </form>
    <ul ng-if='fergusons.length' class='list center stretch'>
      <li ng-repeat='f in fergusons' class='fergusons'>
        <h1>Turd Ferguson</h1>
        <img class='avatar' ng-src="{{f.avatarUrl}}" />
      </li>
    </ul>

  </div>

</body>

</html>
